<button mat-flat-button aria-label="Add a property." (click)="addProperty()">
  <mat-icon>add</mat-icon>
  add property
</button>
<br>
<div *ngFor="let prop of getPropertyMap();">
  <div style="display:inline">
    <mat-form-field appearance="outline" class="property">
      <mat-label>{{prop.key}}</mat-label>
      <input matInput [(ngModel)]="prop.key">
      <mat-icon class="pointer" matTooltip="The key for a property." matSuffix>vpn_key</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="property">
      <mat-label>{{prop.value}}</mat-label>
      <input matInput [(ngModel)]="prop.value">
      <mat-icon class="pointer" matTooltip="The value for this key. If you want it to be an array, use ';;' as a delimeter.'" matSuffix>code</mat-icon>
    </mat-form-field>
  </div>
</div>
