<app-toolbar></app-toolbar>
<div fxLayout="column" fxLayoutAlign="center center">
  <div fxFlexOffset="50px">
    <app-settings-card></app-settings-card>
  </div>
  <div fxFlexOffset="25px" *ngFor="let event of getAmplitudePayload().events">
    <app-event-card [event]=event></app-event-card>
  </div>
</div>
