<mat-card class="amplitudeMinWidth">
  <mat-card-header>
    <div mat-card-avatar class="amplitude-logo"></div>
    <mat-card-title>Amplitude Event</mat-card-title>
    <mat-card-subtitle>Send an Event to Amplitude</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="amplitudeMinWidth" appearance="outline">
      <mat-label>User Identifier</mat-label>
      <input matInput [(ngModel)]="event.user_id">
      <mat-hint>This is the string that identifies the user performing the action.</mat-hint>
      <mat-icon class="pointer" matTooltip="{{getPropertyDetails('user_id').description}}" matSuffix>face</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field class="amplitudeMinWidth" appearance="outline">
      <mat-label>Device Identifier</mat-label>
      <input matInput [(ngModel)]="event.device_id">
      <mat-hint>Identifies the device on which the event was triggered.</mat-hint>
      <mat-icon class="pointer" matTooltip="{{getPropertyDetails('device_id').description}}" matSuffix>perm_device_information</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field class="amplitudeMinWidth" appearance="outline">
      <mat-label>Event Type</mat-label>
      <input matInput [(ngModel)]="event.event_type">
      <mat-hint>The primary name of the event we are firing.</mat-hint>
      <mat-icon class="pointer" matTooltip="{{getPropertyDetails('event_type').description}}" matSuffix>event</mat-icon>
    </mat-form-field>

    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Event Properties
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-property-map class="optional-property" [propertyMap]="event['event_props']"></app-property-map>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            User Properties
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-property-map class="optional-property" [propertyMap]="event['user_props']"></app-property-map>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Groups
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-property-map class="optional-property" [propertyMap]="event['groups_']"></app-property-map>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Optional Parameters
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let key of getOptionProperties()">
          <mat-form-field class="optional-property" appearance="outline" *ngIf="key !== 'user_id' && key !== 'device_id' && key !== 'event_type' && isType(key, 'string')">
            <mat-label>{{key}}</mat-label>
            <input matInput [(ngModel)]="event[key]">
            <mat-icon class="pointer" matTooltip={{getPropertyDetails(key).description}} matSuffix>info</mat-icon>
          </mat-form-field>

          <mat-form-field class="optional-property" appearance="outline" *ngIf="isType(key, 'number')">
            <mat-label>{{key}}</mat-label>
            <input matInput type="number" [(ngModel)]="event[key]">
            <mat-icon class="pointer" matTooltip={{getPropertyDetails(key).description}} matSuffix>info</mat-icon>
          </mat-form-field>

          <mat-form-field class="optional-property" appearance="outline" *ngIf="isType(key, 'float')">
            <mat-label>{{key}}</mat-label>
            <input matInput type="number" step=".01" [(ngModel)]="event[key]">
            <mat-icon class="pointer" matTooltip={{getPropertyDetails(key).description}} matSuffix>info</mat-icon>
          </mat-form-field>

          <mat-form-field class="optional-property" appearance="outline" *ngIf="isType(key, 'date')">
            <mat-label>{{key}}</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]=picker matTooltip={{getPropertyDetails(key).description}}></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="removeEvent()">REMOVE</button>
  </mat-card-actions>
</mat-card>
