<mat-toolbar color="primary">
  <div mat-card-avatar class="amplitude-logo"></div>
  <span class="titleBuffer">Sortly Amplitude Test Client</span>
  <span class="spacer"></span>
  <button mat-mini-fab aria-label="Add an event." class="buttonBuffer" (click)="addEvent()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab aria-label="Send the event." class="buttonBuffer" (click)="sendEvent()">
    <mat-icon>send</mat-icon>
  </button>
</mat-toolbar>
