/* You can add global styles to this file, and also import other style files */

.amplitude-logo
  background-image: url('assets/amplitude-logo.jpg')
  background-size: cover

.amplitudeMinWidth
  min-width: 350px

body
  background-color: #F0F0F0

.spacer
  flex: 1 1 auto

