<mat-card class="amplitudeMinWidth">
  <mat-card-header>
    <div mat-card-avatar class="amplitude-logo"></div>
    <mat-card-title>Amplitude Settings</mat-card-title>
    <mat-card-subtitle>Configure Amplitude First</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="amplitudeMinWidth" appearance="outline">
      <mat-label>Amplitude API Key</mat-label>
      <input matInput [(ngModel)]="getAmplitudePayload().api_key">
      <mat-hint>Enter the API key that maps to the proper dataset in Amplitude.</mat-hint>
      <mat-icon matSuffix>settings</mat-icon>
    </mat-form-field>
  </mat-card-content>
</mat-card>
